@use "../../style/vars" as *;
@use "../../style/mixins" as *;

.HeroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  min-height: calc(100vh - 150px);
  padding: $spacing-xl;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 2.25rem;
  background: $neutral-900;
  background-image: url("../../images/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: #fff;
  margin-bottom: $spacing-xl;

  @include breakpoint(mobile) {
    background-position: 90% 0;
  }

  &__header {
    max-width: 49rem;
  }

  &__title {
    font-size: 4.6875rem;
    margin-bottom: $spacing-xl;
    margin-top: 0;

    @include breakpoint(mobile) {
      margin-bottom: $spacing-m;
      font-size: $font-size-xxxl;
    }
  }

  .btn {
    position: relative;
    overflow: visible;

    &:before {
      content: "";
      background-image: url("../../images/hero_before.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 150%;
      position: absolute;
      top: 100%;
      right: -100%;
      display: block;
      pointer-events: none;
    }

    @include breakpoint(mobile) {
      &:before {
        display: none;
      }
    }
  }

  &__desc {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: $spacing-xl;
    max-width: 50rem;

    @include breakpoint(mobile) {
      font-size: $font-size-l;
      margin-bottom: $spacing-m;
    }
  }

  &__stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-xl;
    text-align: center;

    @include breakpoint(mobile) {
      display: block;
    }

    &__stars {
      display: flex;
      justify-content: center;
      height: 48px;
      gap: $spacing-xs;
      margin-bottom: $spacing-xs;

    }

    &__title {
      font-family: "Neue Machina";
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      margin-bottom: $spacing-xs;
    }
  }

}

.HeroSection__logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-m;
  margin-bottom: $space_XXL;
  width: 100%;
  overflow: hidden;

  &-title {
    font-size: $font-size-m;
    color: $text-color-mid;
    margin: 0;
  }

  &__list {
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right,
        transparent,
        black 10%,
        black 90%,
        transparent);
  }

  &__track {
    display: flex;
    gap: $spacing-xl;
    width: max-content;
    animation: scroll 40s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__list__logo {
    flex-shrink: 0;
    width: auto;
    height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .lazy-load-image-background {
      height: 100%;
      display: block; // Fix potential inline-block issues
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      max-width: 150px;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
