@use "../../../style/vars" as *;
@use "../../../style/mixins" as *;

.hero-sectionAlt {
  text-align: center;
  margin: 0 auto $spacing-xl;

  .hero-title-content {
    max-width: 640px;
    margin: 0 auto $spacing-xl;

    .hero-title {
      line-height: 4.21875rem;

      .highlight-year {
        color: $dev_500;
      }
    }
  }

  .hero-desc-content {
    display: flex;
    align-items: flex-start;
    padding: 0 $spacing-m;
    margin: 0 ;
    position: relative;
    gap: $spacing-m;

    @include breakpoint(mobile) {
      flex-direction: row;
    }

    @include breakpoint(phablet) {
      flex-direction: row;
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      align-items: center;
      gap: $spacing-s;
    }

    .hero-desc {
      text-align: left;
      flex: 1;

      @include breakpoint(phablet) {
        margin: 60px;
      }
    }

    .planet-left {
      @include breakpoint(mobile) {
        position: absolute;
        width: 80px;
        left: -60px;
        top:-20px;
      }

      @include breakpoint(phablet) {
        position: absolute;
        align-self: center;
        width: 80px;
        left:-60px;
        top:-20px;
      }

      @include breakpoint(tablet) {
        width: 160px;
        align-self: flex-start;
        transform: translate(-40px, 0px);
      }
    }

    .planet-right {
      @include breakpoint(mobile) {
        position: absolute;
        width: 60px;
        right: -20px;
        bottom: 0px;

      }

      @include breakpoint(phablet) {
        position: absolute;
        width: 60px;
        right:-20px;
        bottom: 0px;
      }

      @include breakpoint(tablet) {
        width: 100px;
        align-self: flex-start;
        transform: translate(40px, -50px);
      }
    }
  }
}
