# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# gatsby files
.cache/


# System files
.DS_Store
.thumbs

# git ignore for netlify and gatsby project
#
# Netlify

# https://www.netlify.com/docs/continuous-deployment/#gitignore
# https://www.netlify.com/docs/continuous-deployment/#build-ignores
# https://www.netlify.com/docs/continuous-deployment/#build-ignores
# https://www.netlify.com/docs/continuous-deployment/#build-ignores
# https://www.netlify.com/docs/continuous-deployment/#build-ignores
# https://www.netlify.com/docs/continuous-deployment/#build-ignores
