@use "../../../style/vars" as *;
@use "../../../style/mixins" as *;

.HeroSection {
  background-image: url("../../../images/Background_Light.png");
  background-repeat: no-repeat;
  background-size: cover;

  .fp-tableCell {
    vertical-align: bottom;

    @include breakpoint(laptop) {
      vertical-align: middle;
    }
  }

  @include breakpoint(mobile) {
    justify-content: end;
  }

  .logo {
    margin-bottom: $space_XL;

    @include breakpoint(mobile_S) {
      margin-bottom: $space_L;
    }

    &_img {
      max-width: 100%;

      @include breakpoint(phablet) {
        margin-bottom: $space_L;
      }

      @include breakpoint(mobile) {
        width: 235px;
        display: block;
        margin: 0 auto $space_L;
      }

      @include breakpoint(mobile_S) {
        margin: 0 auto $space_M;
      }
    }

    &_tagline {
      text-transform: uppercase;
      font-weight: bold;
      color: $grey_1;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      margin-left: $space_L;

      .divider {
        margin: auto 0 0 $space_M;

        @include breakpoint(mobile) {
          margin: $space_XS 0 0 0;
        }
      }

      @include breakpoint(mobile) {
        font-size: 1rem;
        flex-direction: column;
        margin-left: 0;
      }
    }
  }

  .lead {
    line-height: 37px;

    @include breakpoint(mobile) {
      text-align: center;
      font-size: 0.8rem;
      margin-left: 0;
      margin-bottom: $space_L;
    }

    &-heading {
      font-family: "Syne", serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 2px;
      line-height: 2rem;

      @include breakpoint(mobile) {
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  .masque {
    position: relative;
    display: grid;
    height: 20vh;
    width: 100vw;
    place-items: center;
    overflow: hidden;
    clip-path: circle(20vh at 50% 100%);
    transform: translateX(-12px);
    transition-duration: $slow;
    background-color: $dark_1;

    svg {
      position: absolute;
      right: 0;
      bottom: 0;

      #comet {
        transition-duration: $slow;
      }
    }

    &:hover {
      height: 25vh;
      clip-path: circle(25vh at 50% 100%);

      #comet {
        transform: translate(70%, 100%);
      }
    }

    &.full {
      clip-path: circle(25vh at 50% 100%);
    }

    @include breakpoint(tablet) {
      height: 30vh;
      clip-path: circle(30vh at 50% 100%);

      &:hover {
        height: 35vh;
        clip-path: circle(35vh at 50% 100%);
      }

      &.full {
        clip-path: circle(35vh at 50% 100%);
      }
    }

    @include breakpoint(laptop) {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      height: 100vh;
      width: 100vw;
      clip-path: circle(33% at 90% 80%);
      transform: inherit;

      &:hover {
        height: 100vh;
        clip-path: circle(40% at 90% 80%);
      }

      &.full {
        background-color: $dark_1;
        clip-path: circle(110vw at 90% 80%);
      }

      svg {
        right: 0;
        bottom: 0;

        // height: 100%;
        width: 100%;
      }
    }

    // @include breakpoint(desktop) {
    //     svg {
    //         height: 100vh;
    //         width: 100vw;
    //     }
    // }

    @include breakpoint(mobile_S) {
      &:hover {
        height: 22vh;
        clip-path: circle(22vh at 50% 100%);
      }

      &.full {
        clip-path: circle(22vh at 50% 100%);
      }
    }
  }

  .btn_TM {
    width: 96px;
    height: 20px;
    box-sizing: content-box;
    position: relative;
    right: inherit;
    bottom: inherit;
    margin-top: 20px;

    @include breakpoint(laptop) {
      position: absolute;
      z-index: 2;
      right: 8%;
      bottom: 20%;
    }
  }
}
