@use "../../../style/vars" as *;
.submission-answers {
  background: $neutral-0;
  border-radius: $radius-m;
  padding: $spacing-s $spacing-m;
  flex: 1;
  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__category {
    margin-bottom: 1.5rem;
  }

  &__question-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__question-item {
    border: 1px solid $neutral-50;
    background-color: #fff;
    border-radius: 0.375rem;
    padding: 1rem 1.5rem;
    position: relative;
  }

  &__question-text {
    font-weight: 700;
  }

  &__answer-text {
  }
  &__answer-score {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
    font-weight: 700;
    font-size: 0.875rem;
    color: $neutral-700;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $neutral-50;
    border: 1px solid $neutral-200;
    text-align: center;
  }
}
