@use "../../style/vars" as *;
@use "../../style/mixins" as *;
.Layout {
  padding: 150px 50px 50px 50px;
  position: relative;
  //  overflow: hidden;
  @include breakpoint(mobile) {
    padding: $spacing-s;
    .container {
      padding: 0;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -125px;
    right: 50px;
    width: 413px;
    height: 413px;
    z-index: -1;
    background-image: url("../../images/bg_icon_1.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include breakpoint(mobile) {
      top: -50px;
      right: 0;
      width: 200px;
      height: 200px;
    }
  }

  &--post {
    .container {
      max-width: 750px;
    }
  }
  &--template {
    .container {
      max-width: 860px;
    }
  }
  &--frontpage {
    background-image: url("../../images/Background_Light.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
