@use "../../../../style/vars" as *;
.buttonTab {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 4px;
    width: 0;
    background-color: $neutral-500;
    transition: width 0.3s ease;
  }

  &.active {
    color: $neutral-500;
    &::after {
      width: 100%;
    }
  }
  &:hover {
    color: $neutral-500;
  }
}
