.buttonTab {
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.75rem 1.25rem;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
  }

  &.active::after {
    width: 100%;
  }

  &:hover {
    color: #ddd;
  }
}