@import "../../style/vars";
@import "../../style/mixins";

.NavigationFullpage {
    position: fixed;
    left: $space_L;
    bottom: $space_L;
    z-index: 99999;
    transform: translate(0, -80px);
    padding: 0;

    @include breakpoint(mobile) {
        display: none;
    }


    &:hover {
        display: flex;
        transform: translate(0, 0);

        .NavigationFullpage__item {
            display: block;
            position: relative;
        }
    }

    &__item {
        list-style: none;
        position: absolute;
        display: none;

        &:first-child {
            display: block;
        }

        a {
            display: block;
            color: $grey_2;
            text-decoration: none;
            font-size: 36px;
            line-height: 80px;
            font-family: 'Tourney';
            width: 80px;
            height: 80px;
            text-align: center;
            border: 2px solid $grey_2;
            border-radius: 80px;
            margin-right: $space_M;
            transition-duration: .7s;
            cursor: pointer;
            background-color: rgba(#fff, 0.2);

            &.active, &:hover {
                border: 2px solid $yellow;
                color: $yellow;
            }
        }
    }
}
