.Contact {
    background-image: url("../../../images/Background_Dark.png");

    .titre {
        display: flex;
        color: white;
        align-items: baseline;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .section-title {
        display: flex;
        align-items: center;
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .recipient-section {
        display: flex;
        align-items: center;

        p {
            position: relative;
        }

        p:after, p:before {
            border: 2px solid #F4F2F7;
            position: absolute;
            content: "";
            display: block;
            bottom: 0;
        }

        p:after {
            width: 50px;
            left: 105%;
        }

        p:before {
            width: 10px;
            left: calc(105% + 60px);
        }
    }

    ::placeholder {
        color: rgba($color: #fff, $alpha: 0.5);
    }

    .coordonnees {
        display: flex;
        justify-content: space-between;
    }

    .send-button {
        background-color: transparent;
        color: white;
        border: 3px solid white;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 15px;
    }

    img {
        display: block;
        margin: auto;
    }
}
