@use "../../style/vars" as *;
@use "../../style/mixins" as *;
.Footer {
  background-color: $neutral-900;
  color: #fff;
  display: flex;
  padding: $spacing-l;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0rem 6.5rem;
  align-self: stretch;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -290px;
    left: -100px;
    width: 413px;
    height: 413px;
    z-index: -1;
    background-image: url("../../images/bg_icon_2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    @include breakpoint(mobile) {
      top: -200px;
      width: 200px;
      height: 200px;
    }
  }
  a {
    color: $neutral-100;
  }
  &__logo {
    img {
      width: 10rem;
    }
  }
  &__credits {
    display: flex;
    justify-content: center;
    background-color: $neutral-900;
    color: $neutral-300;
    gap: $spacing-xs;
    padding: $spacing-l;
    a:hover {
      color: $neutral-100;
    }
  }
}
.RS_Section {
  margin-bottom: $spacing-xl;
  &__title {
    text-align: center;
    margin-bottom: $spacing-m;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: $spacing-m;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__icon {
    color: $neutral-400;
    &:hover {
      color: $neutral-900;
    }
  }
}
