@use "../../style/animations" as *;
@use "../../style/vars" as *;
@use "../../style/mixins" as *;

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * $spacing-m);
  position: fixed;
  left: $spacing-m;
  top: 0;
  z-index: 1000;
  background-color: rgba($neutral-0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: $radius-l;
  padding: $spacing-s;

  @include breakpoint(mobile) {
    width: 100%;
    position: relative;
    left: inherit;
    margin-bottom: $spacing-m;
    padding: 0;
  }

  .logo--header {
    width: 12.5rem;

    @include breakpoint(mobile) {
      width: 8rem;
    }
  }

  .btn {
    animation: slideFromTop .5s ease-in-out;

  }
}

header.landing-header {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}

.menu {
  display: flex;

  @include breakpoint(mobile) {
    right: $spacing-m;
    top: $spacing-m;
  }

  &__txt {
    font-weight: 700;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: 0.3s;
    z-index: 99;
    display: flex;
    align-items: center;

    .bento {
      width: 50px;
      height: 50px;
      position: relative;
      margin-right: $space_S;
      transition-duration: 0.7s;

      &:hover,
      &:focus {
        outline: none;
      }

      .circle {
        width: 17px;
        height: 17px;
        margin: 5px;
        background: $cyan;
        border-radius: 17px;
        display: block;
        transition-duration: 0.7s;
        position: absolute;

        &:nth-child(1) {
          left: 0;
          top: 0;
          background: $cyan;
        }

        &:nth-child(2) {
          right: 0;
          top: 0;
          background: $magenta;
        }

        &:nth-child(3) {
          left: 0;
          bottom: 0;
          background: $green;
        }

        &:nth-child(4) {
          right: 0;
          bottom: 0;
          background: $yellow;
        }
      }
    }

    &:hover {
      .bento {
        transform: rotate(45deg);

        .circle {
          background: $neutral-900 !important;

          &:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: -$spacing-m;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background-color: $neutral-50;
    padding: $spacing-m;
    background-image: url("../../images/Background-stars.webp");
    background-repeat: no-repeat;
    background-position: 90% 70%;
    overflow: hidden;

    @include breakpoint(mobile) {
      left: 0;

    }

    .logo {
      width: 230px;
      margin-bottom: $space_XL;
    }

    .menu__items {
      list-style: none;
      padding: 0;
      border-right: 3px solid $neutral-100;
      height: calc(100vh - calc(#{$space_XL} * 3 + 35px));
      position: relative;

      @include breakpoint(mobile) {
        border-right: none;
      }

      li {
        height: calc(100% / 4);
        width: 100%;
        display: flex;
        position: relative;
        transition-duration: $slow;
        justify-content: space-between;
        cursor: pointer;

        &:before {
          content: " ";
          position: absolute;
          right: 102%;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: $cyan;
        }

        &:nth-child(2) {
          &:hover a {
            color: $green;
          }

          &:before {
            background-color: $green;
          }
        }

        &:nth-child(3) {
          &:hover a {
            color: $yellow;
          }

          &:before {
            background-color: $yellow;
          }
        }

        &:nth-child(4) {
          &:hover a {
            color: $magenta;
          }

          &:before {
            background-color: $magenta;
          }
        }

        &:hover {
          transform: translateX(15px) !important;

          a {
            color: $cyan;
          }
        }

        .menu__item {
          width: 100%;
          text-decoration: none;
          font-weight: 700;
          font-size: 2.5rem;
          margin: auto 0;
          padding-right: $spacing-l;
          color: $neutral-900;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include breakpoint(mobile) {
            font-size: 2rem;
          }
        }
      }
    }

    .menu__items__sub {
      list-style: none;
      padding: 0;
      width: 100%;
      height: 100%;

      li {
        width: 100%;
        height: calc(100% / 4);
        display: flex;
        position: relative;
        transition-duration: $slow;

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          text-decoration: none;
          font-weight: 700;
          font-size: 2.5rem;
          margin: auto 0;
          color: $neutral-900;

          &:hover {
            color: $neutral-500;
          }

          @include breakpoint(mobile) {
            font-size: 2rem;
          }
        }
      }
    }

    .btn_close {
      background-color: transparent;
      border: none;
      height: 60px;
      width: 60px;
      position: absolute;
      right: $space_M;
      top: $space_M;

      img {
        width: 100%;
      }

      .close_hover {
        display: none;
      }

      &:hover {
        .close {
          display: none;
        }

        .close_hover {
          display: block;
        }
      }
    }

    .comets {
      position: absolute;
      right: $space_M;
      bottom: $space_M;

      img:not(:nth-child(2)) {
        width: 100px;
      }
    }
  }

  &__items__desc {
    display: flex;

    @include breakpoint(mobile) {
      flex-direction: column;
      position: absolute;
      height: calc(100vh - (1.5rem * 2 + 62px));
      right: -100%;
      background-color: $neutral-50;
      padding: $spacing-m;
      transition: right 0.3s ease-in-out;

      &.is-open {
        right: 0;
      }

      &__back {
        display: flex;
        align-items: center;
        gap: $spacing-s;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }

  &__item__desc {
    font-size: 2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }


}
