@use "../../style/vars" as *;
@use "../../style/mixins" as *;

.BlogCategoryFilter {
  &_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-m;
    justify-content: center;
    &_button {
      padding: $spacing-s;
      border-bottom: 2px solid $surface-default;
      transformation: all 0.3s;

      span {
        font-size: $font-size-xs;
        color: $text-color-default;
        ine-height: 0;
        position: relative;
        top: -0.5em;
        vertical-align: baseline;
      }
      &:hover,
      &.active {
        border-radius: $radius-m $radius-m 0rem 0rem;
        border-bottom: 2px solid $surface-default;
        background: $surface-default;
      }
    }
  }
}

.PostsGrid {
  width: 100%;
  display: grid;
  gap: $spacing-m;
  grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
  margin-bottom: $spacing-xl;
  @include breakpoint(laptop) {
    grid-template-columns: repeat(auto-fit, max(300px));
  }
}

.Pagination {
  display: flex;
  justify-content: center;
  gap: $spacing-m;
  margin-bottom: $spacing-xl;
  .isActive {
    color: $text-color-link;
    font-weight: bold;
  }
}
