@use "../../style/vars" as *;
@use "../../style/mixins" as *;

.btn_TM {
  text-transform: uppercase;
  outline: none;
  letter-spacing: 2px;
  padding: $space_M $space_L;
  font-weight: 700;
  font-size: 0.85rem;

  &_gradient {
    border: 2px solid #fff;
    background-color: $dark_1;
    color: $white;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background: $gradient_rainbow;
      bottom: 0;
      left: 0;
      position: absolute;
      transition-duration: $fast;
    }

    &:hover:after {
      height: 8px;
    }
  }
}

button {
  // normalize button
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
.btn {
  display: inline-flex;
  height: 2.75rem;
  padding: $spacing-s;
  align-items: center;
  gap: $spacing-xs;
  flex-shrink: 0;
  border-radius: $radius-s;

  &-primary {
    background-color: $neutral-900;
    border-color: $neutral-900;
    &:hover {
      background-color: $neutral-500;
      border-color: $neutral-500;
    }
    &:disabled {
      background: $status-disabled;
      border-color: $status-disabled;
    }
  }

  &-secondary {
    border-color: $status-info;
    background-color: transparent;
    color: $status-info;
    &:hover {
      background-color: $status-info;
      color: $text-color-default;
    }
    &:disabled {
      background: $status-disabled;
      border-color: $status-disabled;
      color: $status-disabled-dark;
    }
  }
}
