@use "../../../../style/vars" as *;
@use "../../../../style/mixins" as *;
.LinkSection {
  position: relative;
  height: 800px;
  @include breakpoint(mobile) {
    height: inherit;
    transform: translateY(-75px);
  }

  &__content {
    border-radius: 4.6875rem;
    background-image: linear-gradient(
      90deg,
      rgba(198, 189, 226, 0) 0%,
      rgba(198, 189, 226, 0) 50%,
      rgba(198, 189, 226, 0.1) 100%
    );
    backdrop-filter: blur(5px);
    padding: $spacing-xl $spacing-l $spacing-l;
    max-width: 630px;
    margin-left: auto;
    @include breakpoint(mobile) {
      background-image: linear-gradient(
        180deg,
        rgba(198, 189, 226, 0) 0%,

        rgba(198, 189, 226, 0.1) 100%
      );
    }
  }
  img {
    max-width: inherit;
    width: 200%;
    position: absolute;
    left: -70%;
    @include breakpoint(mobile) {
      z-index: 1;
      left: 0;
      position: relative;
      transform: translateX(-130px) translateY(75px);
      max-width: inherit;
    }
  }
}
