.footer-planet-container {
  position: relative;
  overflow: visible;
  

  .planet-bottom-img {
    position: absolute;
    bottom: -10px;
    left: -60px;
    width: 200px;
    z-index: 0;
    pointer-events: none;

    @media (max-width: 768px) {
      width: 140px;
      bottom: -20px;
    }
  }

  .footer-text {
    border-top: 1px solid #706a7f;
    position: relative;
    z-index: 1;
  }
}